@import "../../colors.scss";

.message-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: "Open Sans Light";
  textarea {
    margin-top: 10px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid $gray-1;
    boder-radius: 1px;
  }
}
