@import "../../colors.scss";

.message-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  textarea {
    height: 300px;
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
  }
  button {
    font-family: "Open Sans Light";
    padding: 10px;
    border-radius: 0;
    border: 1px solid $gray-1;
    background-color: $blue-1;
    color: white;
    font-size: 16px;
  }
}
