@import "../../colors.scss";

.sending-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Open Sans Light";
  width: 500px;
  align-items: center;
  position: absolute;
  top: 10%;
  left: calc(50% - 250px);
  box-shadow: 1px 1px 5px black;
  &__message {
    margin: 0 30px;
    min-height: 50px;
  }
  .spinner {
    max-height: 174px;
  }
  .logo {
    height: 100px;
  }
  .close {
    height: 20px;
    position: absolute;
    top: 20px;
    right: 460px;
    &:hover {
      cursor: pointer;
    }
  }
}
